@use "variables" as *;

.sitemap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 48px;

  &__link {
    font-size: 14px;
    color: $white;
    letter-spacing: -0.17px;
    font-weight: bold;
  }
}

@media screen and (max-width: $breakpoint-md) {
  :host {
    width: 100%;
  }
  .sitemap {
    justify-content: space-around;
    gap: 24px;

    &__link {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .sitemap {
    flex-direction: column;

    &__link {
      font-size: 13px;
    }
  }
}
