<div class="contact-form">
  <div class="contact-form__prompt">
    We are all cat persons, so if you got any question, drop it below and we
    will contact you back!
  </div>
  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    #formDirective="ngForm"
  >
    <div class="contact-form__fields">
      <div class="contact-form__inline-field">
        <mat-label class="contact-form__field-label">Your Full Name</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Type your name"
            formControlName="fullName"
          />
          @if (contactForm.get("fullName")?.hasError("required")) {
            <mat-error> Full Name is required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="contact-form__inline-field">
        <mat-label class="contact-form__field-label">Your Email</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="Type your email"
            formControlName="email"
          />
          @if (contactForm.get("email")?.hasError("required")) {
            <mat-error> Email is required </mat-error>
          }
          @if (contactForm.get("email")?.hasError("email")) {
            <mat-error> Please enter a valid email </mat-error>
          }
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <div class="contact-form__fields-group">
        <div class="contact-form__stacked-field">
          <mat-label class="contact-form__field-label">City</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="ex. Thessaloniki"
              formControlName="city"
            />
            @if (contactForm.get("city")?.hasError("required")) {
              <mat-error> City is required </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="contact-form__stacked-field">
          <mat-label class="contact-form__field-label">Postal Code</mat-label>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="ex. 54658"
              formControlName="postalCode"
            />
            @if (contactForm.get("postalCode")?.hasError("required")) {
              <mat-error> Postal code is required </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="contact-form__stacked-field max-w-60">
        <mat-label class="contact-form__field-label">Address</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            placeholder="ex. Thessaloniki"
            formControlName="address"
          />
          @if (contactForm.get("address")?.hasError("required")) {
            <mat-error> Address is required </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="contact-form__stacked-field">
        <mat-label class="contact-form__field-label">Your Message</mat-label>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            placeholder="Type your message"
            formControlName="message"
            rows="5"
          ></textarea>
        </mat-form-field>
      </div>
      <mat-checkbox required formControlName="hasAcceptedTermsAndConditions"
        ><span class="contact-form__checkbox-label"
          >I agree with the Terms & Conditions</span
        >
      </mat-checkbox>
    </div>
    <button
      class="contact-form__submit-button"
      type="submit"
      [disabled]="!contactForm.valid"
      mat-flat-button
    >
      @if (isSubmitting) {
        <mat-spinner diameter="20"></mat-spinner>
      } @else {
        <span class="contact-form__submit-button-label">Send!</span>
      }
    </button>
  </form>
</div>
