@use "variables" as *;

.navigation-bar {
  display: flex;
  align-items: center;
  gap: 56px;

  &__link {
    font-weight: 700;
    font-size: 14px;
    color: $dark-gray;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .navigation-bar {
    flex-direction: column;
    padding: 16px;
  }
}
