$black: #000000;
$white: #ffffff;
$coral: #ef7878;
$light-purple: #9784ff;
$ultra-light-gray: #eff1f4;
$light-gray: #e1e4ea;
$silver-gray: #d8d8d8;
$cerebral-gray: #cccccc;
$gray: #a0a9ba;
$dark-gray: #555555;

$breakpoint-xs: 600px;
$breakpoint-sm: 960px;
$breakpoint-md: 1280px;
$breakpoint-lg: 1920px;

$breakpoints: (
  "xs": $breakpoint-xs,
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
);
